.mejoresAlbumes{
    margin-top: 2%;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.mejoresAlbumes .albumes{
    margin-top: 2%;
    display: table;
    padding: 0;
    border: none;

}

.mejoresAlbumes .albumes .infoAlbum{
    display: table-cell;
    vertical-align: bottom;
    border: none;
    width: 25%;
}

.mejoresAlbumes .albumes .portadaAlbum img{
    width: 40%;
}


.mejoresCanciones{
    margin-top: 5%;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.mejoresCanciones .canciones{
    margin-top: 2%;
    width: 100%;
    display: table;
}

.mejoresCanciones .canciones .infoCanciones{
    display: table-cell;
    vertical-align: bottom;
    border: none;
    width: 25%; 
}

a{
    color: white;
}
