.navBar{
    background-color: #2e3e51;
    width:100%;
  }
  
.navBar .elemento.active {
  text-decoration: none;
  font-weight: bold;
  background-color:#ffd433;
  color: black;
  margin: 0;
}
  
.navBar .elemento{
  color: white;
  display: inline-block;
  border-right: solid 0.5px ;
  padding: 1%;
  margin: 0;
}

.navBar .elemento.dropdown{
  float: right;
  border-left: solid 0.5px ;
  border-right: none;
}

.navBar .elemento.dropdown.active{
  text-decoration: none;
  font-weight: bold;
  background-color:#ffd433;
  color: black;
  margin: 0;
}

svg path{
  fill: #fff;
}

svg { 
  position:absolute;
  
}

.navBar .elemento.active svg path{
  fill: rgb(15, 15, 15);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2e3e51;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-weight: normal;
}

.dropdown-content a {
  color: #fff;
  padding: 8%;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffd433;
  color: black;
}

.dropdown:hover .dropdown-content {display: block;}


