.datosPerfil{
    margin-top: 2%;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.miPerfilText{
    font-size: 300%;
}

.datosPerfil .textoG{
    display: inline-block;
    font-weight: bold;
}

.datosPerfil .textoP{
    display: inline-block;
}