.navBar{
    background-color: black;
    color: blueviolet;
    width:100%;
}

.elemento{
    background-color: brown;
    color: white;
    display: inline-block;
    border: white;
    border-right: solid 0.5px;
    padding: 1%;
}