.barraReproduccion{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2e3e51;
    text-align: center;
    padding: 1%;
}

.barraReproduccion .botonReproduccion{
  display: inline-block;
  margin-right: 5%;
  width: fit-content;
  height: auto;
}

.barraReproduccion .botonReproduccion svg{
    bottom: 0;
    margin: 1%;
}

.barraReproduccion .botonSubir{
  float: right;
}

